    // 主色
    $light_light_main_blue: #247BFB;
    // 辅助色
    $light_auxiliary_green: #53E2A2;
    $light_auxiliary_pink: #FF8A8A;
    $light_auxiliary_orange: #FEB339;
    $light_auxiliary_yellow: #F3CD47;
    $light_auxiliary_sky_blue: #31CDFF;
    $light_auxiliary_blue: #1881FF;
    $light_auxiliary_bright_purple: #C570E7;
    $light_auxiliary_purple: #6C66F0;
    $light_auxiliary_cyan: #02FEFF;
    $light_auxiliary_dark_green: #09AA00;
    // 辅助色渐变
    $light_auxiliary_gradient_blue: linear-gradient(180deg, #68E5FF 0%, #289DFF 100%);
    $light_auxiliary_gradient_dark_blue: linear-gradient(180deg, #2C9EFF 0%, #167EFF 100%);
    // 中性色
    $light_neuter_dim_ash: #7A7A7A;
    $light_neuter_grey: #989696;
    $light_meuter_bright_grey: #C0C0C0;
    $light_meuter_very_bright_grey: #CBCBCC;
    $light_neuter_argent: #F1F3F7;
    $light_neuter_bright_silver: #F7F8F9;
    // 文字颜色
    $light_font_black: #272727;
    $light_font_light_black: #464646;
    $light_font_gery: #7A7A7A;
    $light_font_green: #09AA00;
    $light_font_red: #ED6161;
    $light_font_light_green: #29CB83;
    $light_font_blue: #0091FF;

    $themes: (
      light: (
        air_font_color:$light_font_black,
        air_status_open_color:$light_auxiliary_dark_green,

        light_header_left_icon_background_color: #247BFB,
        light_all_open_background_color: linear-gradient(90deg, #2C9EFF 0%, #167EFF 100%),
        light_all_close_background_color:#F1F1F1,
        light_all_open_font_color:#FFFFFF,
        light_all_close_font_color:$light_font_gery,
        light_all_switch_button_background_color: #FFFFFF,
        light_all_switch_button_icon_color:#727272,
        light_info_dividing_lines_background_color:#DCDCDC,
        light_name_font_color:$light_font_black,
        light_open_color:$light_font_green,
        
        // 空调
        air_abnormal_font_color:$light_font_red,
		
		// 投影仪
		displayScreen_color:#fff, 
		displayScreen_bgcolor:#fff,
		displayScreen_all_open_bgcolor: linear-gradient(90deg, #2c9eff 0%, #167eff 100%),
		
		// 插座 
		socket_line_bg:#247bfb,
		scoket_socketControlWord_color:#272727,
		scoket_slider_allon:linear-gradient(90deg, #2c9eff 0%, #167eff 100%),
		scoket_slider_alloff:#F1F3F7,
		scoket_allWords:#fff,
		scoket_circle_bg:#fff,
		scoket_leftIcon:#727272,
		scoket_lineSliderList_bg:#f1f3f7,
		scoket_tooltip_tc:#272727,
		scoket_equipmentstatusCircle_bg:#09AA00,
		scoket_equipmentstatuscircleError_bg:red,
		scoket_equipmentstatusWord:#04a212,
		scoket_identification_bg:#02feff,
		scoket_identificatioff_bg:#cbcbcc,
		scoket_all_open_fc:#fff,
		scoket_all_close_fc:#7a7a7a,
		scoket_showName_bg:#fff,
		scoket_toolipcolor:#272727,
		scoket_toolipbg:#fff,
		scoket_allbc:#727272,
		scoket_allsbc: #FFFFFF,
		
		// 窗帘
		curtains_curtainsNameColor:#272727,
		curtains_curtainsOnWordColor:#247bfb,
		curtains_slideTopWrapbg:#f1f3f7,
		curtains_firstLiColor:#fff,
		curtains_tenthLiColor:#7a7a7a,
		curtains_lxValuebg:linear-gradient(90deg, #2c9eff 0%, #167eff 100%),
		curtains_slideBlockbg:#fff,
		curtains_curtainStatusColor:#09aa00,
		curtains_curtainCirclebg:#09aa00,
		curtains_linebg:#dcdcdc,
		curtains_allbc:#727272,
		curtains_allsbc: #FFFFFF,
		
      ),
      dark:(background_color: #212121,

        air_font_color:#272727,
        air_status_open_color:#09AA00,

      ),
      pink:(background_color:pink,

        air_font_color:#272727,
        air_status_open_color:#09AA00,


      ))